

RewriteEngine on

RewriteCond %{HTTP_HOST} ^grouphug.io [NC]
RewriteCond %{HTTP_HOST} !^grouphug.io$ [NC]
RewriteRule ^(.*)$ http://confess.io/$1 [L,R=301]

RewriteCond %{HTTP_HOST} !^confess.io$ [NC]
RewriteRule ^(.*)$ http://confess.io/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^\/humans.txt [NC]

RewriteRule ^.*$ index.php [L]

